.ant-menu-overflow{
  display: flex;
  justify-content: center;
}
.client-selector, .date-picker-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.products-container, .pago-container, .clientes-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.ant-card-cover img{
  height: 350px;
}
.products-container .ant-card{
  margin-left: 10px;
  margin-right: 10px;
}

.total-container{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-container .total-button{
  margin-left: 40px;
}

.filter-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.table-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-buttons{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.card-buttons button{
  margin-left: 8px;
}
.resumen-ventas-container{
  text-align: center;
}
.navigation-sales-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-sales-buttons a{
  margin-left: 10px;
}
.footer-line{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0
}
.logos{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos span{
  margin-right: 15px;
}
